<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <magenest_movie>
                <text_field>I'm a text field</text_field>
                <yes_no>1</yes_no>
                <custom_select_field>1</custom_select_field>
                
            </magenest_movie>
        </movie>
    </default>
</config>